<footer class="page-footer">

  <div class="container">
        <div class="social-media-links">
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          {% endif %}

          {% if site.linkedin_username %}
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon-link" target="_blank">{% include icons/icon-linkedin.html %}</a>
          {% endif %}

          {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
          {% endif %}
          
          {% if site.instagram_username %}
          <a href="http://instagram.com/{{ site.instagram_username }}" class="icon-link" target="_blank">{% include icons/icon-instagram.html %}</a>
          {% endif %}
          
          {% if site.facebook_username %}
          <a href="https://facebook.com/{{ site.facebook_username }}" class="icon-link" target="_blank">{% include icons/icon-facebook.html %}</a>
          {% endif %}
          
          {% if site.email_username %}
          <a href="mailto:{{ site.email_username }}" class="icon-link" target="_blank">{% include icons/icon-mail.html %}</a>
          {% endif %} 
        </div>
        <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
    </div>
</footer>