<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  {% if page.cssFile %}<link rel="stylesheet" type="text/css" href="/css/{{ cssFile }}" />{% endif %}
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link href='http://khaledzaky.com/feed.xml' rel='alternate' type='application/rss+xml'>
  <meta name="copyright" content="Khaled Zaky 2017" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="" />

  {% if page.external_url %}
  <meta http-equiv="refresh" content="0;url={{ page.external_url }}" />
  {% endif %}

  {% if page.categories %}
  <meta property="og:image" content="http://khaledzaky.com/img/ogimgs/{{ page.categories | first }}.jpg" />
  <meta property="og:author" content="https://www.facebook.com/khaledzaky" />
  <meta property="og:type" content="article" />
  <meta name="twitter:image:src" content="http://khaledzaky.com/img/ogimgs/{{ page.categories | first }}.jpg">
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://khaledzaky.com/img/ogimgs/default.jpg" />
  <meta name="twitter:card" content="summary">
  {% endif %}

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}">
  {% endif %}

  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}

  <meta name="twitter:domain" content="khalezaky.com">
  <meta name="twitter:site" content="@iamkhaledzaky">
  <meta name="twitter:creator" content="@iamkhaledzaky">
  <meta property="og:site_name" content="Khaled Zaky's blog" />
  <meta property="og:url" content="http://khaledzaky.com{{ page.url | replace:'index.html','' }}/" />
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/site.js"></script>
  {% seo %}
</head>
