@import '@fontsource-variable/inter';
@import '@fontsource-variable/lora';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-sans text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-950 antialiased;
  }
}

@layer components {
  .prose img {
    @apply rounded-lg shadow-md;
  }
  .prose blockquote {
    @apply border-l-4 border-primary-500 bg-primary-50 dark:bg-primary-950/30 py-1 px-4 rounded-r-lg;
  }
}
