{% include site-nav.html %}

{% include readingtime_page.html %}

  <header class="page-header {% if page.imgclass %}{{ page.imgclass }} {% else %}{{ page.categories | join: " " }} {% endif %}">

    <div class="wrap">

      <div class="my-avatar">
        <a href="/"><img class="khaled-photo" src="/img/khaled-avatar.jpg" alt="Khaled Zaky avatar" /></a>
      </div>

      <div class="intro-copy">
        <h1>{{ page.title }}</h1>
        {% if page.subhead %}<p class="subhead">{{ page.subhead }}</p>{% endif %}
        <p class="article-date">{{ page.date | date: "%B %e, %Y" }} {% if page.categories %} in <a href="/blog/{{ page.categories | first }}">{{ page.categories | first }}</a>{% endif %} • {{ reading_time }} read</p>
        <div class="share">
        <a href="https://twitter.com/share"
        class="twitter-share-button"
        data-size="large"
        data-hashtags="in,tech,blockchain,bitcoin"
        data-via="iamkhaledzaky"
        data-related="iamkhaledzaky">Tweet</a>
        
      </div>
      </div>

    </div>

  </header>