{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="intro-copy">
        <h1>{{ site.title }}</h1> 
        <h2>Product Manager • Software Engineer •  TechGeek</h2>
        <p class="description">I’m a Technical Product Manager at <a href="http://www.td.com">TD Bank</a>, where I’m focused on defining cloud products that service the bank. I enjoy <a href="/#blog">writing</a> about things I learn. I am the type that wakes up with determination and go to bed with satisfaction.
        <div class="social-media-links">
          {% if site.linkedin_username %}
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon-link" target="_blank">{% include icons/icon-linkedin.html %}</a>
          {% endif %}

          {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
          {% endif %}
          
          {% if site.instagram_username %}
          <a href="http://instagram.com/{{ site.instagram_username }}" class="icon-link" target="_blank">{% include icons/icon-instagram.html %}</a>
          {% endif %}

          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          {% endif %}
          
          {% if site.facebook_username %}
          <a href="https://facebook.com/{{ site.facebook_username }}" class="icon-link" target="_blank">{% include icons/icon-facebook.html %}</a>
          {% endif %}
          
          {% if site.email_username %}
          <a href="mailto:{{ site.email_username }}" class="icon-link" target="_blank">{% include icons/icon-mail.html %}</a>
          {% endif %} 
        </div>
      </div>

      <div class="my-avatar home">
        <img class="khaled-photo" src="/img/khaled-photo.png" alt="Khaled Zaky avatar" />
      </div>
    </div>  
  </header>
